:root {
    /* Colors */
    --black: hsl(0, 0%, 0%);
    --red: hsl(0, 100%, 50%);
    /* Sizes */
    --small: 10px;
    --diagonal-line: 26.83281573px;
    --small-diagonal-line: 26.83281573px;
    --letter-container-height: 48px;
    --letter-container-width: 24px;
    --letter-container-padding: 4px;
    --line-width: 4px;
    --indicator-width: 25%;
    /* Word lengths */
    --starter-word-length: 8;
    --main-word-length: 4;
    --dessert-word-length: 7;
    --eight-letter-word-width: calc(((var(--letter-container-width) + var(--letter-container-padding)) * 8) - var(--letter-container-padding));
    --four-letter-word-width: calc(((var(--letter-container-width) + var(--letter-container-padding)) * 4) - var(--letter-container-padding));
}

html {
    margin: 0px;
    height: 100%;
    background-color: var(--black);
    color: var(--red);
}

body {
    margin: 0px;
    height: 100%;
    background-color: var(--black);
    color: var(--red);
}

/* The whole menu (header) with all items */

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-container {
    position: absolute;
    width: 100%;
    background-color: var(--red);
}

.indicator-wrapper {
    display: flex;
}

@keyframes change-position {
    from {
        width: 0px;
    }
}

.indicator-container {
    width: 0%;
    overflow: hidden;
    position: relative;
    height: var(--line-width);
}

#starters:target .indicator-container {
    width: var(--eight-letter-word-width);
    margin-left: 12px;
    margin-right: auto;
}

#main:target .indicator-container {
    width: var(--four-letter-word-width);
    margin-left: auto;
    margin-right: auto;
}

#desserts:target .indicator-container {
    width: var(--eight-letter-word-width);
    margin-left: auto;
    margin-right: 12px;
}

#starters:target .indicator-1, #main:target .indicator-1, #desserts:target .indicator-1 {
    animation: change-position 3s, slideSmoothLeft 3s infinite forwards;
}

#starters:target .indicator-2, #main:target .indicator-2, #desserts:target .indicator-2 {
    animation: change-position 3s, slideSmoothRight 3s infinite forwards;
}

@keyframes slideSmoothLeft {
    0% {
        left: 0px;
    }
    50% {
        left: calc(100% - var(--indicator-width));
    }
    100% {
        left: 0px;
    }
}

@keyframes slideSmoothRight {
    0% {
        right: 0px;
    }
    50% {
        right: calc(100% - var(--indicator-width));
    }
    100% {
        right: 0px;
    }
}

.indicator-1, .indicator-2 {
    position: absolute;
    width: var(--indicator-width);
    height: var(--line-width);
    background: var(--black);
}

.starters .letter:nth-child(7n+1), .desserts .letter:nth-child(7n+1) {
    animation: up-and-down-1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.starters .letter:nth-child(5n+2), .desserts .letter:nth-child(5n+2) {
    animation: up-and-down-2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#starters:target .main .letter:nth-child(3n+1), #starters:target .desserts .letter:nth-child(5n+2), #main:target .starters .letter:nth-child(5n+2), #main:target .desserts .letter:nth-child(5n+2), #desserts:target .starters .letter:nth-child(5n+2), #desserts:target .main .letter:nth-child(3n+1) {
    margin-top: 0;
}

@keyframes up-and-down-1 {
    from, to {
        margin-top: 5px;
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        margin-top: -5px;
        -webkit-animation-timing-function: ease-in;
    }
}

@keyframes up-and-down-2 {
    0% {
        margin-top: 5px;
    }
    15% {
        margin-top: 5px;
    }
    32.5% {
        margin-top: 0px;
    }
    50% {
        margin-top: 5px;
    }
    100% {
        margin-top: 5px;
    }
}

/* change point on hover */

label[for=invert-color] {
    cursor: cell;
}

/* Target the menu, he lines of letters and the indicators */

#invert-color:checked~.menu .letter div, #invert-color:checked~.indicator-container div {
    background-color: var(--red);
}

/* Target the menu and main content */

#invert-color:checked~div {
    background-color: var(--black);
}

/* The container of all the items of the menu including title */

.menu-type {
    padding: 8px;
}

/* All the items of the menu including title */

.menu-type>div {
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    position: relative;
    left: 50%;
}

.menu-type:hover>div:not(:first-child) {
    display: flex;
    /* transform: rotatex(0deg); */
}

/* The title of the menu */

.menu-type>div:not(:first-child) {
    margin-bottom: 8px;
    zoom: 0.75;
    margin-top: 24px;
}

.menu-type>div:not(:first-child) {
    display: none;
}

/* The container for multiple letters (a word) */

.word {
    width: fit-content;
    flex-direction: row;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

/* The container for a letter */

.letter {
    height: var(--letter-container-height);
    width: var(--letter-container-width);
    padding-right: var(--letter-container-padding);
}

/* Every line of a letter */

.letter>div {
    background-color: var(--black);
    position: absolute;
    border-radius: 5px;
}

/* Small line */

div[class^="os"], div[class^="p"] {
    height: 15px;
    width: var(--line-width);
}

/* Smaller line */

div[class^="e"] {
    height: 7px;
    width: var(--line-width);
}

/* Small horizontal line */

.os1, .os2, .os7, .os8, .os13, .os14, .p2, .p3, .p6, .p7, .e1, .e5 {
    margin-top: -5px;
    margin-left: 6px;
    transform: rotate(90deg);
}

/* Diagonal line - topleft > bottomright*/

.c1, .c4, .d2, .d3 {
    height: var(--diagonal-line);
    width: var(--line-width);
    margin-left: 5px;
    transform: rotate(-25deg);
}

/* Diagonal line - bottomleft > topright*/

.c2, .c3, .d1, .d4 {
    height: var(--diagonal-line);
    width: var(--line-width);
    margin-left: 6px;
    transform: rotate(25deg);
}

/* Small diagonal line - topleft > bottomright*/

.cs1, .cs4, .cs5, .cs8, .ds2, .ds3, .ds6, .ds7, .e4 {
    height: 16px;
    width: var(--line-width);
    margin-left: 4px;
    transform: rotate(-40deg);
}

/* Small diagonal line - bottomleft > topright*/

.cs2, .cs3, .cs6, .cs7, .ds1, .ds4, .ds5, .ds8, .e2, .e3 {
    height: 16px;
    width: var(--line-width);
    margin-left: 4px;
    margin-top: -1px;
    transform: rotate(40deg);
}

/*    
       1   2
      ███ ███        
    █         █  
  3 █         █ 4 

  5 █         █ 6
    █  7   8  █ 
      ███ ███      
    █         █   
  9 █         █ 10 
  
 11 █         █ 12
    █  13 14  █  
      ███ ███ 
        
    Outer-small (os)
      
*/

.os2 {
    margin-left: 14px;
}

.os3 {
    margin-top: 1px;
}

.os4 {
    margin-top: 1px;
    margin-left: 20px;
}

.os5 {
    margin-top: 12px;
}

.os6 {
    margin-top: 12px;
    margin-left: 20px;
}

.os7 {
    margin-top: 16px;
}

.os8 {
    margin-top: 16px;
    margin-left: 14px;
}

.os9 {
    margin-top: 21px;
}

.os10 {
    margin-top: 21px;
    margin-left: 20px;
}

.os11 {
    margin-top: 32px;
}

.os12 {
    margin-top: 32px;
    margin-left: 20px;
}

.os13 {
    margin-top: 38px;
}

.os14 {
    margin-top: 38px;
    margin-left: 14px;
}

/*   
    █     █      
     █   █
   1  █ █  2
       █

       █      
   3  █ █  4
     █   █       
    █     █ 
    
    Cross (c)
      
*/

.c2 {
    margin-left: 15px;
}

.c3 {
    margin-left: 5px;
    margin-top: 21px;
}

.c4 {
    margin-top: 21px;
    margin-left: 15px;
}

/*   
    █         █ 
   1  █     █  2
        █ █ 
   3  █     █  4
    █         █
      
    █         █ 
   5  █     █  6
        █ █ 
   7  █     █  8
    █         █
    
    Cross-small (cs)
      
*/

.cs2 {
    margin-left: 16px;
}

.cs3 {
    margin-top: 12px
}

.cs4 {
    margin-top: 12px;
    margin-left: 16px
}

.cs5 {
    margin-top: 24px;
}

.cs6 {
    margin-top: 24px;
    margin-left: 16px;
}

.cs7 {
    margin-top: 36px;
}

.cs8 {
    margin-top: 36px;
    margin-left: 16px;
}

/*   
       █      
      █ █ 
     █   █       
    █     █

    █     █      
     █   █
      █ █      
       █
    
    Diamond (d)
      
*/

.d2 {
    margin-left: 15px;
}

.d3 {
    margin-top: 22px;
}

.d4 {
    margin-top: 22px;
    margin-left: 15px;
}

/*   
        █      
  1   █   █   2
    █       █
    █       █ 
  3   █   █   4    
        █

        █      
  5   █   █   6
    █       █
    █       █ 
  7   █   █   8    
        █
    
    Diamond-small (ds)
      
*/

.ds2 {
    margin-left: 16px;
}

.ds3 {
    margin-top: 9px
}

.ds4 {
    margin-top: 9px;
    margin-left: 16px
}

.ds5 {
    margin-top: 22px;
}

.ds6 {
    margin-top: 22px;
    margin-left: 16px;
}

.ds7 {
    margin-top: 32px;
}

.ds8 {
    margin-top: 32px;
    margin-left: 16px;
}

/*  
           
         █ 1       
         █         
   2 █ █   █ █ 3
         █         
         █ 4   

         █ 5      
         █         
   6 █ █   █ █ 7
         █         
         █ 8   

    plus (p)
      
*/

.p1 {
    margin-left: 10px;
    margin-top: 1px;
}

.p2 {
    margin-top: 6px;
}

.p3 {
    margin-top: 6px;
    margin-left: 16px;
}

.p4 {
    margin-top: 11px;
    margin-left: 10px;
}

.p5 {
    margin-top: 22px;
    margin-left: 10px;
}

.p6 {
    margin-top: 30px;
}

.p7 {
    margin-top: 30px;
    margin-left: 16px;
}

.p8 {
    margin-top: 32px;
    margin-left: 10px;
}

/*    
         1  
        ███        
               
          █ 2   
         █
        █ █   
         █ 
      3 █ █ 4

           
          
        ███    
         5

    extra (e)
       
*/

.e1 {
    margin-top: -1px;
    margin-left: 10px;
}

.e2 {
    margin-top: 10px;
    margin-left: 10px;
    transform: rotate(50deg);
}

.e3 {
    margin-top: 21px;
    margin-left: 10px;
}

.e4 {
    margin-top: 20px;
    margin-left: 10px;
    transform: rotate(-50deg);
}

.e5 {
    margin-top: 42px;
    margin-left: 10px;
}