:root {
    /* Colors */
    --dark: #000;
    --course: #F4E408;
    --light: #fffaf0;
    --red: #ff0000;
    --pink: #f70bb0;
    /* Sizes */
    --small: 10px;
    --diagonal-line: 26.83281573px;
    --small-diagonal-line: 26.83281573px
}

body {
    margin: 0px;
    /* background-color: var(--dark); */
}

/* The whole menu (header) with all items */

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}

/* The container of all the items of the menu including title */

.menu-type {
    padding: 8px;
}

/* All the items of the menu including title */

.menu-type>div {
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    position: relative;
    left: 50%;
}

.menu-type:hover>div:not(:first-child) {
    display: flex;
    transform: rotatex(0deg);

}

/* The title of the menu */

.menu-type>div:not(:first-child) {
    margin-bottom: 8px;
    zoom: 0.75;
    margin-top: 24px;

    transform-style: preserve-3d;
    /* transform: rotatex(90deg); */
    transform: translate3d(-50%,0%,50%);
    transition-property: transform;
    transition-duration: 1s;
}
.menu-type>div:not(:first-child) {
    display: none;
}

/* The container for multiple letters (a word) */

.word {
    width: fit-content;
    flex-direction: row;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

/* The container for a letter */

.letter {
    height: 48px;
    width: 24px;
    padding-right: 4px;
}

/* Regular line */

div[class^="o"] {
    height: 24px;
    width: 4px;
    background-color: var(--light);
    position: absolute;
}

/* Small line */

div[class^="os"], div[class^="p"] {
    height: 12px;
    width: 4px;
    background-color: var(--light);
    position: absolute;
}

/* Horizontal line*/

.o1, .o4, .o7 {
    margin-top: -10px;
    margin-left: 10px;
    transform: rotate(90deg);
}

/* Small horizontal line */

.os1, .os2, .os7, .os8, .os13, .os14, .p2, .p3, .p6, .p7 {
    margin-top: -4px;
    margin-left: 4px;
    transform: rotate(90deg);
}

/* Diagonal line - topleft > bottomright*/

.c1, .c4, .d2, .d3 {
    height: var(--diagonal-line);
    width: 4px;
    margin-left: 6px;
    background-color: var(--light);
    position: absolute;
    transform: rotate(-23deg);
}

/* Diagonal line - bottomleft > topright*/

.c2, .c3, .d1, .d4 {
    height: var(--diagonal-line);
    width: 4px;
    margin-left: 6px;
    background-color: var(--light);
    position: absolute;
    transform: rotate(23deg);
}

/* Small diagonal line - topleft > bottomright*/

.cs1, .cs4, .cs5, .cs8, .ds2, .ds3, .ds6, .ds7 {
    height: 17px;
    width: 4px;
    margin-left: 6px;
    margin-top: -1px;
    background-color: var(--light);
    position: absolute;
    transform: rotate(-45deg);
}

/* Small diagonal line - bottomleft > topright*/

.cs2, .cs3, .cs6, .cs7, .ds1, .ds4, .ds5, .ds8 {
    height: 17px;
    width: 4px;
    margin-left: 6px;
    margin-top: -1px;
    background-color: var(--light);
    position: absolute;
    transform: rotate(45deg);
}

/*      1           
     █ █ █ █        
    █       █  
  2 █       █ 3  
    █       █  
    █   4   █ 
     █ █ █ █      
    █       █   
  5 █       █ 6  
    █       █   
    █   7   █  
     █ █ █ █   
        
    Outer (o)
      
*/

.o1 {
    margin-top: -10px;
}

.o3 {
    margin-left: 20px;
}

.o4 {
    margin-top: 12px;
}

.o5 {
    margin-top: 24px;
}

.o6 {
    margin-top: 24px;
    margin-left: 20px;
}

.o7 {
    margin-top: 34px;
}

/*    
       1   2
      ███ ███        
    █         █  
  3 █         █ 4 

  5 █         █ 6
    █  7   8  █ 
      ███ ███      
    █         █   
  9 █         █ 10 
  
 11 █         █ 12
    █  13 14  █  
      ███ ███ 
        
    Outer-small (os)
      
*/

.os2 {
    margin-left: 16px
}

.os4 {
    margin-left: 20px;
}

.os5 {
    margin-top: 12px;
}

.os6 {
    margin-top: 12px;
    margin-left: 20px;
}

.os7 {
    margin-top: 18px;
}

.os8 {
    margin-top: 18px;
    margin-left: 16px;
}

.os9 {
    margin-top: 24px;
}

.os10 {
    margin-top: 24px;
    margin-left: 20px;
}

.os11 {
    margin-top: 36px;
}

.os12 {
    margin-top: 36px;
    margin-left: 20px;
}

.os13 {
    margin-top: 40px;
}

.os14 {
    margin-top: 40px;
    margin-left: 16px;
}

/*   
    █     █      
     █   █
   1  █ █  2
       █

       █      
   3  █ █  4
     █   █       
    █     █ 
    
    Cross (c)
      
*/

.c2 {
    margin-left: 15px;
}

.c3 {
    margin-left: 5px;
    margin-top: 21px;
}

.c4 {
    margin-top: 21px;
    margin-left: 15px;
}

/*   
    █         █ 
   1  █     █  2
        █ █ 
   3  █     █  4
    █         █
      
    █         █ 
   5  █     █  6
        █ █ 
   7  █     █  8
    █         █
    
    Cross-small (cs)
      
*/

.cs2 {
    margin-left: 16px;
}

.cs3 {
    margin-top: 12px
}

.cs4 {
    margin-top: 12px;
    margin-left: 16px
}

.cs5 {
    margin-top: 24px;
}

.cs6 {
    margin-top: 24px;
    margin-left: 16px;
}

.cs7 {
    margin-top: 36px;
}

.cs8 {
    margin-top: 36px;
    margin-left: 16px;
}

/*   
       █      
      █ █ 
     █   █       
    █     █

    █     █      
     █   █
      █ █      
       █
    
    Diamond (d)
      
*/

.d2 {
    margin-left: 16px;
}

.d3 {
    margin-top: 22px;
}

.d4 {
    margin-top: 22px;
    margin-left: 16px;
}

/*   
        █      
  1   █   █   2
    █       █
    █       █ 
  3   █   █   4    
        █

        █      
  5   █   █   6
    █       █
    █       █ 
  7   █   █   8    
        █
    
    Diamond-small (ds)
      
*/

.ds2 {
    margin-left: 15px;
}

.ds3 {
    margin-top: 12px
}

.ds4 {
    margin-top: 9px;
    margin-left: 16px
}

.ds5 {
    margin-top: 24px;
}

.ds6 {
    margin-top: 24px;
    margin-left: 15px;
}

.ds7 {
    margin-top: 32px;
}

.ds8 {
    margin-top: 32px;
    margin-left: 15px;
}

/*  
           
         █ 1       
         █         
   2 █ █   █ █ 3
         █         
         █ 4   

         █ 5      
         █         
   6 █ █   █ █ 7
         █         
         █ 8   

    plus (p)
      
*/

.p1 {
    margin-left: 10px
}

.p2 {
    margin-top: 6px
}

.p3 {
    margin-top: 6px;
    margin-left: 16px
}

.p4 {
    margin-top: 12px;
    margin-left: 10px;
}

.p5 {
    margin-top: 24px;
    margin-left: 10px;
}

.p6 {
    margin-top: 30px;
}

.p7 {
    margin-top: 30px;
    margin-left: 16px;
}

.p8 {
    margin-top: 36px;
    margin-left: 10px;
}