/* Default global values */

:root {
    /* Colors */
    --dark: hsl(0, 0%, 0%);
    --light: hsl(0, 100%, 50%);
    /* Sizes */
    --small: 10px;
    --diagonal-line: 26.83281573px;
    --small-diagonal-line: 26.83281573px;
    --letter-container-height: 48px;
    --letter-container-width: 24px;
    --letter-container-padding: 4px;
    --line-width: 4px;
    --indicator-width: 25%;
    /* Word lengths */
    --starter-word-length: 8;
    --main-word-length: 4;
    --dessert-word-length: 7;
    --eight-letter-word-width: calc(((var(--letter-container-width) + var(--letter-container-padding)) * 8) - var(--letter-container-padding));
    --four-letter-word-width: calc(((var(--letter-container-width) + var(--letter-container-padding)) * 4) - var(--letter-container-padding));
}

html {
    margin: 0px;
    height: 100%;
    /* background-color: var(--dark); */
    color: var(--light);
    background-image: repeating-linear-gradient( rgb(224, 0, 0) 0%, rgb(192, 0, 0) 25%, rgb(224, 0, 0) 50%);
    background-size: 200% 200%;
    animation: moving-down 3s linear infinite;
}

body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background-image: repeating-linear-gradient( red 0%, transparent 25%, red 50%, transparent 75%, red 100%);
    /* filter: invert(100%); */
    color: var(--light);
    background-size: 200% 200%;
    animation: moving-up 4s alternate infinite;
}

#desserts {
    height: 100%;
}

@keyframes moving-up {
    100% {
        background-position: 100% 100%;
    }
}

@keyframes moving-down {
    100% {
        background-position: -100% -100%;
    }
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.menu-container {
    position: relative;
    width: 100%;
    height: 20%;
}

.guitar-container {
    min-height: 15%;
}

.guitar-string {
    width: 100%;
    height: 5px;
    margin: 4px 0;
    border: solid 2px #000;
    border-color: transparent transparent #000 transparent;
    border-radius: 0%/20px 20px 20px 20px;
}

.guitar-string-container:hover .guitar-string {
    width: 100%;
    height: 5px;
    margin: 4px 0;
    border: solid 2px #000;
    animation: strum 0.1s 10, strum 0.2s 5 1s, strum 0.3s 3 2s, strum 0.5s 3 2.9s ease-out forwards;
    border-radius: 90%/20px 20px 20px 20px;
}

/* Strum is the animation when hovering over the guitar */

@keyframes strum {
    /* up */
    to, from {
        border-color: #000 transparent transparent;
    }
    /* down */
    50% {
        border-color: transparent transparent #000;
    }
}

.main-content {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-content-section {
    align-items: center;
    width: 100%;
    height: fit-content;
}

#starters:not(:target) .main-content-main, #starters:not(:target) .main-content-desserts, #main:not(:target) .main-content-starters, #main:not(:target) .main-content-desserts, #desserts:not(:target) .main-content-starters, #desserts:not(:target) .main-content-main {
    filter: blur(10px);
    animation: fade-away 2s ease-out forwards
}

.menu-type {
    width: 100%;
}

#starters:target .main-content-starters, #main:target .main-content-main, #desserts:target .main-content-desserts {
    opacity: 1;
    animation: fade-in 2s ease-out forwards
}

/* #starters:target .main-content-main, #starters:target .main-content-desserts {
    filter: blur(10px);
    animation: fade-away 2s ease-out forwards
}

#main:target .main-content-starters, #main:target .main-content-desserts {
    filter: blur(10px);
    animation: fade-away 2s ease-out forwards
}

#desserts:target .main-content-starters, #desserts:target .main-content-main {
    filter: blur(10px);
    animation: fade-away 2s ease-out forwards
} */

.main-content-item {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@keyframes fade-in {
    0% {
        filter: blur(1000px);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes fade-away {
    0% {
        filter: blur(0px);
    }
    30% {
        filter: blur(3px);
    }
    50% {
        filter: blur(3px);
    }
    100% {
        filter: blur(1000px);
        visibility: hidden;
    }
}

.stripe {
    position: absolute;
    margin-top: 15px;
    height: 15px;
    width: 100%;
    background-color: green;
    filter: invert(100%);
}

.stripe2 {
    height: 7px;
    width: 100%;
    background-color: yellow;
}

.indicator-wrapper {
    display: flex;
}

@keyframes change-position {
    from {
        width: 0px;
    }
}

.indicator-container {
    width: 0%;
    overflow: hidden;
    position: relative;
    height: var(--line-width);
}

#starters:target .indicator-container {
    width: 33%;
    margin-left: 12px;
    margin-right: auto;
}

#main:target .indicator-container {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

#desserts:target .indicator-container {
    width: 33%;
    margin-left: auto;
    margin-right: 12px;
}

#starters:target .indicator-1, #main:target .indicator-1, #desserts:target .indicator-1 {
    animation: change-position 3s, slideSmoothLeft 3s infinite forwards;
}

#starters:target .indicator-2, #main:target .indicator-2, #desserts:target .indicator-2 {
    animation: change-position 3s, slideSmoothRight 3s infinite forwards;
}

@keyframes slideSmoothLeft {
    0% {
        left: 0px;
    }
    50% {
        left: calc(100% - var(--indicator-width));
    }
    100% {
        left: 0px;
    }
}

@keyframes slideSmoothRight {
    0% {
        right: 0px;
    }
    50% {
        right: calc(100% - var(--indicator-width));
    }
    100% {
        right: 0px;
    }
}

.indicator-1, .indicator-2 {
    position: absolute;
    width: var(--indicator-width);
    height: var(--line-width);
    background: var(--dark);
}

/* Show bounce animation when the menu item is targeted */

#starters:target .starters .letter, #main:target .main .letter, #desserts:target .desserts .letter {
    animation: bounce 1.5s infinite;
}

/* A delay added to the second letter of the word */

#starters:target .starters .letter:nth-child(2), #main:target .main .letter:nth-child(2), #desserts:target .desserts .letter:nth-child(2) {
    animation-delay: 0.1s;
}

/* A delay added to the third letter of the word */

#starters:target .starters .letter:nth-child(3), #main:target .main .letter:nth-child(3), #desserts:target .desserts .letter:nth-child(3) {
    animation-delay: 0.2s;
}

/* A delay added to the fourth letter of the word */

#starters:target .starters .letter:nth-child(4), #main:target .main .letter:nth-child(4), #desserts:target .desserts .letter:nth-child(4) {
    animation-delay: 0.3s;
}

/* A delay added to the fifth letter of the word */

#starters:target .starters .letter:nth-child(5), #main:target .main .letter:nth-child(5), #desserts:target .desserts .letter:nth-child(5) {
    animation-delay: 0.4s;
}

/* A delay added to the sixth letter of the word */

#starters:target .starters .letter:nth-child(6), #main:target .main .letter:nth-child(6), #desserts:target .desserts .letter:nth-child(6) {
    animation-delay: 0.5s;
}

/* A delay added to the seventh letter of the word */

#starters:target .starters .letter:nth-child(7), #main:target .main .letter:nth-child(7), #desserts:target .desserts .letter:nth-child(7) {
    animation-delay: 0.6s;
}

/* A delay added to the eighth letter of the word */

#starters:target .starters .letter:nth-child(8), #main:target .main .letter:nth-child(8), #desserts:target .desserts .letter:nth-child(8) {
    animation-delay: 0.7s;
}

#starters:target .main .letter:nth-child(3n+1), #starters:target .desserts .letter:nth-child(5n+2), #main:target .starters .letter:nth-child(5n+2), #main:target .desserts .letter:nth-child(5n+2), #desserts:target .starters .letter:nth-child(5n+2), #desserts:target .main .letter:nth-child(3n+1) {
    margin-top: 0;
}

@keyframes bounce {
    from, to {
        margin-top: 0px;
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        margin-top: -10px;
        -webkit-animation-timing-function: ease-in;
    }
}

/* The container of all the items of the menu including title */

.menu-type {
    padding: 8px;
}

/* All the items of the menu including title */

.menu-type>div {
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    position: relative;
    left: 50%;
}

.menu-type:hover>div:not(:first-child) {
    display: flex;
    /* transform: rotatex(0deg); */
}

/* The title of the menu */

.menu-type>div:not(:first-child) {
    margin-bottom: 8px;
    zoom: 0.75;
    margin-top: 24px;
}

.menu-type>div:not(:first-child) {
    display: none;
}